@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.is-orange {
  color: #FCAE61
}

.is-blue {
  background-color: #2500F9;
  color: white;
}

.is-blueocean {
  color: #242f51 !important;
}

.navbar-burger {
  margin: auto;
}

a.navbar-item {
  transition: all 1s;
}

a.navbar-item:hover {
    background-color: transparent;
    color: inherit;
    border-bottom: 1px solid #242f51;
}

.navbar-item.active {
  color: #2500F9
}

.fondo-banner {
  background: url('../img/Layer 3.png') center / cover;
}

.is-size-0 {
  font-size: 3.5rem
}

.button-try {
  padding: 25px 30px !important;
  color: white;
  font-weight: 600;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  background-color: #FEAA25;
}

.is-grey {
  background: #E2EAED
}

.button.is-grey {
  padding: 8px 40px 8px 10px; 
}

.is-borderless {
  border: 0 !important;
}

.is-tomato {
  color: #f55767;
}

.border-right {
  border-right: 1px solid gray;
}

.p-7 {
  padding: 4rem;
}

.fondo-right {
  background: url(../img/fondo-right.png);
  background-position: right top;
}

.button-price:active {
  background: #2500F9;
  color: white;
}

.buttons-price {
  border: 1px solid #bbb;
  display: inline-flex;
  padding: 3px;
  border-radius: 25px;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 0;
}
.buttons .button {
    margin-bottom: 0;
}

.card-header {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,229,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(221,229,235,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,229,235,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,229,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(221,229,235,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(221,229,235,1) 100%);
}

.card {
  border: 1px solid transparent;
}

.card:hover {
  border: 1px solid #ccc;
  box-shadow: .5em .5em 1em -.125em #b5c7d380,
              -.5em .5em 1em -.125em #b5c7d380,
              0 1.5em 1.5em 1px #b5c7d380
}

.is-info-light {
  background: lightskyblue;
}

.footer {
  background:#09142E;
}

.navbar {
  display: inline-flex;
}

.footer .navbar {
  background-color: transparent;
}

.footer .navbar a {
  color: white
}


@media screen and (max-width: 768px) {
  .pricing .card {
    margin-top: 2rem
  }

  .navbar {
      display: flex;
      flex-direction: column;
  }

  .stores .columns, .columns.is-variable {
    margin-left:0;
    margin-right:0;
  }

}


