@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

body {
  background-color: #f4f4f4;
  font-family: 'Lato','Segoe UI', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
}

#top {
  height: 120px;
  background-color: azure;
}

#logo {
  width: 30%;
  float: left;
  margin-top: 10px;
}

#logo img {
  float: left;
  margin-right: 30px;
}

#brand {
  font-size: 2.5rem;
  display: block;
  margin-top: 25px;
}

#menu {
  width: 70%;
  float: right;
  font-size: 19px;
  margin-top: 30px;
}

#menu ul {
  float: right;
  list-style: none
}

#menu ul li {
  display: inline-block;
  /* float: left; */
  height: 40px;
  margin-right: 20px
}

#menu li a {
  color: orangered;
  text-decoration: none;
  padding: 10px 5px;
}

#banner {
  background: rgba(241,231,103,1);
  background: radial-gradient(ellipse at center, rgba(247,241,166,1) 0%, rgba(255,109,56,1) 100%);
  height: 230px;
  line-height: 230px;
  text-align: center;
}

#banner h1 {
  font-size: 2.5em;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #00468C;
}

/* #banner h1::after {
  content: " Services";
  color: white;
} */

.container {
  width: 1170px;
  margin: auto;
}

.container h3 {
  color: #00468C;
}

main .container {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #ece9e2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(77, 77, 77);
}

.row {
  text-align: center;
}

.row p {
  text-align: justify;
}

.row figure {
  margin: 0;
}

.col30, .col50, .col25, .col100 {
 display: inline-block;
 padding: 1%;
 margin: 1%;
 vertical-align: top;
}

.col25 {
  width: 20.5%;
}

.col30 {
  width: 28.5%;   
}

.col50 {
  width: 45%;
}

.col60 {
  width: 55%;
}

footer {
  height: 100px;
  background: #00468C;
}

footer p {
  line-height: 80px;
  margin: 0;
}

footer .col50 {
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  padding-top: 25px;
}

.menu li {
  float: right;
  margin-right: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.blanqueado {
  color: white;
}

.menu li:first-child a {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

